version: "3.9"

services:
  api:
    build: .
    ports:
      - "8000:8000"
    restart: always

  nginx:
    image: nginx:latest
    volumes:
      - ./infrastructure/nginx.conf:/etc/nginx/nginx.conf
      - ./frontend:/var/www/html
    ports:
      - "80:80"
    depends_on:
      - api
    restart: always
